ol {
  padding-left: 50px;
}

li {
  padding-left: 16px;
  margin-top: 40px;
  position: relative;
  font-size: 16px;
  line-height: 20px;

  &:before {
    content: "";
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute;
    top: -9px;
    left: -31px;
  }
}
